
<!DOCTYPE html>
<html>
<head>
<title>Talent Acquisition Portal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<style>

.mobile-container {
	max-width: 480px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	background-color: #fbfafa;
	position: relative;
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

img{}
width:16%;
margin-left:39%;
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align:center;
}


.navbar-inverse .navbar-nav>li>a{
	 color: #ffffff;
}
</style>

</head>
<body onload="StartTimers();" onmousemove="ResetTimers();">
<div id="timeout">
</div>
	<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
		<div id="navbar" class="collapse navbar-collapse">

				<div class="topnav" style="background-color: red">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfnOIQ7p59rVkxtRmGjOHZu0dMbRmtXXMWrqLOiNWUb6XdFpsQ" width="100" height = "50" alt="Srinsoft"> 
				<ul class="nav navbar-nav navbar-user navbar-log-out navbar-right"> 
					<li><a href="dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard </a></li>
					<li><a href="reports"><span class="glyphicon glyphicon-equalizer"></span>Reports</a></li>
					<li><a href="candidateinfo"><span class="glyphicon glyphicon-user" data-toggle="tooltip"></span> Candidates </a></li>
					<li><a href="require"><span class="glyphicon glyphicon-list-alt"></span> Recruit </a></li>
				
					<li><a href="userroles"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
				
					<li><a><span class="glyphicon glyphicon-user"></span>  </a></li>
					<li><a href="login"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
					<li><a><span></span></a></li>
				</ul> 
				</div>
				</div>

	</nav>
	<!-- 	
		<div class="topnav">
  <a href="#home" class="active">Logo</a>
  <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
		<a class="navbar-brand" href="index"><span class="">SrinSoft Recruit</span></a> -->
	<!--  <div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-user navbar-log-out navbar-right">
				<li><a><span class="glyphicon glyphicon-user"></span> ${author} </a></li>
						
				<li><a href="login"><span
						class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				<li><a><span class="glyphicon"> </span></a></li>
			</ul>
			</div>  -->


	<div class="form-group">
		<h1>
			<input type="hidden" name="id" value="${mprForm.id}" readonly />
		</h1>
	</div>
	<br><br>
		<security:authorize  access="hasAnyRole('ROLE_SUPERADMIN','ROLE_ADMIN') ">
		<div class="container">
			<h2 align="center">CANDIDATE PROCESSING</h2>
			<div class="row">
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="addCandidate">CREATE CANDIDATE</a>
										</h4>
										<a href="addCandidate" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
				</div>
			</security:authorize>
				<!-- ./Team member -->
				<!-- Team member -->
				<!--  <div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="addInterview">CREATE INTERVIEW</a>
										</h4>
										<a href="addInterview" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="addForm">CREATE EMPLOYEE EVALUATION
												FORM(REQUESTOR)</a>
										</h4>
										<a href="addForm" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="employeeHR">CREATE EMPLOYEE EVALUATION FORM(HR
												MANAGER)</a>
										</h4>
										<a href="employeeHR" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> --%> -->
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img >
										</p>
										<h4 class="card-title">
											<a href="Viewcandidatess">VIEW CANDIDATE</a>
										</h4>
										<!-- <a href="Viewcandidatess" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="viewInterviews">VIEW INTERVIEW</a>
										</h4>
										<!-- <a href="viewInterviews" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="ViewEmployee">VIEW EMPLOYEE EVALUATION
												FORM(REQUESTOR)</a>
										</h4>
										<!-- <a href="ViewEmployee" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip"
						ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<br>
									<div class="card-body text-center">
										<p>
											<img>
										</p>
										<h4 class="card-title">
											<a href="viewEmployeeHr">VIEW EMPLOYEE EVALUATION FORM(HR
												MANAGER)</a>
										</h4>
										<!-- <a href="ViewEmployee" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i></a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->

				<!-- ./Team member -->
				<!-- Team member -->
				<!-- ./Team member -->
			</div>
			<div class="footer">
  <p>© 2018 SRINSOFT TECHNOLOGIES. ALL RIGHTS RESERVED.</p>
</div>
</div>
</body>

<script>
//Set timeout variables.
var timoutWarning = 60000; // Display warning in 14 Mins.
var timoutNow = 900000; // Timeout in 15 mins.
var logoutUrl = 'login'; // URL to logout page.
var warningTimer;
var timeoutTimer;

// Start timers.
function StartTimers() {
    warningTimer = setTimeout("IdleWarning()", timoutWarning);
    timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
}

// Reset timers.
function ResetTimers() {
    clearTimeout(warningTimer);
    clearTimeout(timeoutTimer);
    StartTimers();
    $("#timeout").dialog('close');
}

// Show idle timeout warning dialog.
function IdleWarning() {
    $("#timeout").dialog({
        modal: true
    });
}

// Logout the user.
function IdleTimeout() {
    window.location = logoutUrl;
}
</script>

</html>
