<!DOCTYPE html>
<html>
<title>Talent Acquisition Portal</title>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	function OnDropDownChange(dropDown) {
		var selectedValue = dropDown.options[dropDown.selectedIndex].value;
		document.getElementById("txtSelectedCity").value = selectedValue;

	}
</script>
<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
	 color: #ffffff;
</style>
<script>
	function executeOnSubmit()
	{
	        
	        var res = confirm("You updated the user credentials successfully!");

	        if(res)
	                return true;
	        else
	                return false;
	}
</script>
</head>
<body onload="StartTimers(); document.forms[0].reset();" onmousemove="ResetTimers();">
	<div id="timeout">
	</div>
	<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="true"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<div class="topnav" style="background-color: red">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfnOIQ7p59rVkxtRmGjOHZu0dMbRmtXXMWrqLOiNWUb6XdFpsQ" width="100" height = "50" alt="Srinsoft"> 
				<ul class="nav navbar-nav navbar-user navbar-log-out navbar-right"> 
			
					<li><a href="dashboard"><span
							class="glyphicon glyphicon-dashboard"></span> Dashboard </a></li>
					<li><a href="reports"><span
							class="glyphicon glyphicon-equalizer"></span>Reports</a></li>
					<li><a href="candidateinfo"><span
							class="glyphicon glyphicon-user" data-toggle="tooltip"></span>
							Candidates </a></li>
					<li><a href="require"><span
							class="glyphicon glyphicon-list-alt"></span> Recruit </a></li>
					
					<li><a href="userroles"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
					
					<li><a><span class="glyphicon glyphicon-user"></span>
						</a></li>
					<li><a href="login"><span
							class="glyphicon glyphicon-log-out"></span> Logout </a></li>
					<li><a><span></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="main-content">
		<div id="main" class="col-sm-12">
			<br>
			<div class="container">
				<br> <br>
				<h1 align="center">UPDATE USER</h1>
				<div class="row">
					<form action="resave7" class="col-md-12 go-right" method="post"
						data-toggle="validator" role="form" onsubmit="return executeOnSubmit();">
						<p>
							<input type="hidden" name="id" value="" readonly />
						</p>
						<div class="row">
							<div class="col-sm-3 form-group">
								<label>E.CODE</label> <input id="" name="ecode" type="tel"
									value="" class="form-control" readonly>
							</div>
							<div class="col-sm-3 form-group">
								<label class="required">FIRST NAME</label> <input id=""
									name="firstname" type="tel" value=""
									class="form-control" required>

							</div>
							<div class="col-sm-3 form-group">
								<label class="required">LAST NAME</label> <input id=""
									name="lastname" type="tel" value=""
									class="form-control" required>
							</div>
							<div class="col-sm-3 form-group">
								<label class="required">USER NAME</label> <input id=""
									name="username" type="tel" value=""
									class="form-control" required>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 form-group">
								<!-- <select 
										name="assignHr2" class="form-control" onChange="myFunction()">
										<option style="display:none;" value="${mprform.assignHr2}">${mprform.assignHr2}</option>
										<c:forEach items="${profile}" var="category">
											<option value="${category.firstname}">${category.firstname}</option>
										</c:forEach>
									</select> -->

								<label class="required">USER ROLES</label> <select name="roles"
									class="form-control" onChange="myFunction()">
									<option style="display: none;" value=""></option>
									<option value="Admin Authentication Manager">Admin Authentication Manager</option>
									<option value="Super Admin/HR Manager">Super Admin/HR Manager</option>
									<option value="HR/Recruiter">HR/Recruiter</option>
									<option value="Project Manager/Lead">Project Manager/Lead</option>
								</select>

<!-- 
								<%-- <label class="required">USER ROLES</label> <input type="text"
									id="txtSelectedCity" value=""
									class="form-control" readonly required /> <select
									class="form-control list1" id="title" name="roles"
									onChange="OnDropDownChange(this);" required>
									<option value="" style="background-color: white">none</option>
									<option value="Admin Authentication Manager"
										style="background-color: white">Admin Authentication Manager</option>
									<option value="Super Admin/HR Manager"
										style="background-color: white">Super Admin/HR Manager</option>
									<option value="HR/Recruiter" style="background-color: white">HR/Recruiter</option>
									<option value="Project Manager/Lead"
										style="background-color: white">Project Manager/Lead</option>
								</select> --%> -->
							</div>
							<div class="col-sm-3 form-group">
								<label class="required">TEAM</label> <input id="" name="team"
									type="tel" value="" class="form-control"
									required>
							</div>
							<div class="col-sm-3 form-group">
								<label class="required">EMAIL</label> <input id="" name="email"
									type="tel" value="" class="form-control"
									required>

							</div>
							<div class="col-sm-3 form-group">

								<label class="required">STATUS</label> <select name="status"
									class="form-control list1" onChange="myFunction()" required>
									<option style="display: none;" value=""></option>
									<option value="Active">Active</option>
									<option value="In-Active">In-Active</option>
								</select>
								</div>
							<!-- <%-- <div class="col-sm-3 form-group">
								<label class="required">PASSWORD</label> <input id=""
									name="password" type="tel" value=""
									class="form-control" required>
							</div> --%> -->
						</div>
						<!-- <%-- <div class="row">

								<label class="required">STATUS</label> <input type="text"
									id="txtSelectedCity" value=""
									class="form-control" readonly required /> <select
									class="form-control list1" id="title" name="status" required
									onChange="OnDropDownChange(this);">
									<option value="" style="background-color: white">none</option>
									<option value="Active" style="background-color: white">Active</option>
									<option value="In-Active" style="background-color: white">In-Active</option>
								</select>
							</div> --%> -->
						</div>
						<div class="col-sm-11 text-center">

							<button type="submit" class="btn btn-default">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>© 2018 SRINSOFT TECHNOLOGIES. ALL RIGHTS RESERVED.</p>
	</div>
</body>
<script>
//Set timeout variables.
var timoutWarning = 60000; // Display warning in 14 Mins.
var timoutNow = 900000; // Timeout in 15 mins.
var logoutUrl = 'login'; // URL to logout page.
var warningTimer;
var timeoutTimer;

// Start timers.
function StartTimers() {
    warningTimer = setTimeout("IdleWarning()", timoutWarning);
    timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
}

// Reset timers.
function ResetTimers() {
    clearTimeout(warningTimer);
    clearTimeout(timeoutTimer);
    StartTimers();
    $("#timeout").dialog('close');
}

// Show idle timeout warning dialog.
function IdleWarning() {
    $("#timeout").dialog({
        modal: true
    });
}

// Logout the user.
function IdleTimeout() {
    window.location = logoutUrl;
}
</script>
</html>