
<!doctype html>
<html ng-app>
<title>Talent Acquisition Portal</title>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script type="text/javascript"
	src="<c:url value="/scripts/CandidateRegistration.js"/>"></script> -->

<style>


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

</style>


</head>
<body onload="StartTimers(); document.forms[0].reset();" onmousemove="ResetTimers();">
<div id="timeout">
</div>

<div th:replace="fragment/sidenav.html::sidenav"></div>

	<div class="main-content">

		<div class="container">
			<a href="require"><button class="btn btn-default">BACK</button></a> <a
				href="sub1" class="btn btn-default btn-lg" style="float: right;">All
				Candidates</a>
			<form action="save1" method="post" data-toggle="validator" commandName="candidateBean" enctype="multipart/form-data" role="form" onsubmit="return executeOnSubmit();">
				<div class="col-sm-12">
					<h1 align="center">CANDIDATE INFORMATION</h1>
					<!-- <%-- 	<p>
								<input type="hidden" name="id" value="${mprForm.id}" readonly />
							</p> --%>
 -->
					<div class="row">
						<!-- <%-- <div class="col-sm-3 form-group redbox">

							<label class="required">TRF ID</label> <input type="text"
								placeholder="Enter mpr id here.." name="id"
								value="${mprForm.id}"
								onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
								class="form-control" required>
							<form:errors path="email" cssClass="error" />
						</div> --%> -->
						<!-- <div class="required">- Mandatory</div> -->
					<br>
					
						<div class="col-sm-3 form-group redbox">

							<label class="required">FIRST NAME</label> <input type="text" 
								placeholder="Enter  first name here.." name="firstName" pattern=".*\S+.*" onkeyup="if(this.textLength != 0) {clear.disabled = false} else {clear.disabled = true}"
								class="form-control my-field" required>
						</div>
						<div class="col-sm-3 form-group redbox">

							<label class="required">LAST NAME</label> <input type="text" 
								placeholder="Enter  last name here.." name="lastName"  pattern=".*\S+.*"
								class="form-control my-field" required>
						</div>
						<div class="col-sm-3 form-group bluebox">

							<label class="required">EMAIL ADDRESS</label> <input type="email"
								placeholder="Enter email address here.." onkeyup="loadEmail()"
								id="email" name="email" class="form-control" required>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-3 kform-group redbox ">
							<label class="required">MOBILE NUMBER</label> <input type="text"
								placeholder="Enter phone number here.." 
								maxlength="10" id="mobile" pattern="[0-9]{10}"  
								onkeyup="loadMobile()" name="mobile"
								class="form-control" required>
						</div>

						<div class="col-sm-3 form-group bluebox">
							<label class="required"> CURRENT LOCATION</label> <input
								type="text" placeholder="Enter candidate location here.." 
								name="street" pattern=".*\S+.*" class="form-control my-field" required>
						</div>
						<div class="col-sm-3 form-group bluebox">
							<label class="required">EXPERIENCE</label> <select
								class="form-control" name="experience" required>
								<option value="">--Select--</option>
								<option value="1">0-1 Year</option>
								<option value="1">1-3 Years</option>
								<option value="2">3-5 Years</option>
								<option value="3">5-10 Years</option>
							</select>
						</div>


					</div>

					<div class="row">

						<div class="col-sm-3 form-group bluebox">
							<label class="required">HIGHEST QUALIFICATION</label> <input
								type="text" placeholder="Enter highest qualification here.." pattern=".*\S+.*"
								 name="highestQualification" class="form-control my-field" required>
						</div>
						<div class="col-sm-3 form-group redbox">
							<label>CURRENT COMPANY</label> <input
								id="meeting" type="text" pattern=".*\S+.*"
								placeholder="Enter current company here.." 
								name="previousCompany" class="form-control my-field">
						</div>
						<div class="col-sm-3 form-group redbox">
							<label>CURRENT DESIGNATION</label> <input
								type="text" pattern=".*\S+.*" placeholder="Enter current designation here.." 
								name="currentJobTitle" class="form-control my-field">
						</div>
					</div>
					<div class="row">

						<div class="col-sm-3 form-group bluebox">
							<label>SPECIALIZATION</label> <input type="text"
								placeholder="Enter Specialization Here.." pattern=".*\S+.*" name="specialization" 
								class="form-control my-field">
						</div>


						<div class="col-sm-3 form-group bluebox">
							<label>REFERENCE</label> <input type="text"
								placeholder="Enter Reference Here.." pattern=".*\S+.*" name="referredBy" 
								class="form-control my-field">
						</div>

						<div class="col-sm-3 form-group redbox">
							<label class="required">SOURCE </label> <select
								class="form-control" name="source" required>
								<option value="">--Select--</option>
								<option value="Naukri">Naukri</option>
								<option value="LinkedIn">LinkedIn</option>
								<option value="Shine">Shine</option>
								<option value="Indeed">Indeed</option>
								<option value="Employee-Reference">Employee-Reference</option>
								<option value="Others">Others</option>
								
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 form-group bluebox">
							<label class="required">SOURCED BY</label> <input type="text"
								placeholder="Enter recruiter  name.." pattern=".*\S+.*" name="hrName" 
								class="form-control my-field" required>
						</div>
						
						<div class="col-sm-3 form-group bluebox" style="margin-top: 2%;">
						
							<input type="file" name="file" id="file" required/>
							
							</div>
					</div>
				</div>
				<div class="col-sm-11 text-center">
					<button type="submit" class="btn btn-default">SAVE</button>
					<button class="btn btn-default" name="clear" onClick="return confirm('Are you absolutely sure you want to delete?')" type="reset" disabled="disabled">CLEAR</button>
				</div>
			</form>
		</div>
		</div>
		<div class="footer">
  <p>© 2018 SRINSOFT TECHNOLOGIES. ALL RIGHTS RESERVED.</p>
</div>
	
</body>
<script>


var EmailDomainSuggester = {
		  
		  domains: ["yahoo.com", "gmail.com", "google.com", "hotmail.com", "googlemail.com", "msn.com", "hotmail.co.uk", "yahoo.co.uk"],
		  
		  bindTo: $('#email'),
		  
		  init: function() {
		    this.addElements();
		    this.bindEvents();
		  },
		  
		  addElements: function() {
		    // Create empty datalist
		    this.datalist = $("<datalist />", {
		      id: 'email-options'
		    }).insertAfter(this.bindTo);
		    // Corelate to input
		    this.bindTo.attr("list", "email-options");
		  },
		  
		  bindEvents: function() {
		    this.bindTo.on("keyup", this.testValue);
		  },
		    
		  testValue: function(event) {
		    var el = $(this),
		        value = el.val();
		                    
		    // email has @
		    // remove != -1 to open earlier
		    if (value.indexOf("@") != -1) {
		      value = value.split("@")[0];
		      EmailDomainSuggester.addDatalist(value); 
		    } else {
		      // empty list
		      EmailDomainSuggester.datalist.empty();
		    }
		     
		  },
		  
		  addDatalist: function(value) {
		    var i, newOptionsString = "";
		    for (i = 0; i < this.domains.length; i++) {
		      newOptionsString += 
		        "<option value='" + 
		          value + 
		          "@" +
		          this.domains[i] +
		        "'>";
		    }
		    
		    // add new ones
		    this.datalist.html(newOptionsString);
		  }
		  
		}

		EmailDomainSuggester.init();
$(':input','#myform')
.not(':button, :submit, :reset, :hidden')
.val('')
.prop('checked', false)
.prop('selected', false);
//Set timeout variables.
var timoutWarning = 60000; // Display warning in 14 Mins.
var timoutNow = 900000; // Timeout in 15 mins.
var logoutUrl = 'login'; // URL to logout page.
var warningTimer;
var timeoutTimer;

// Start timers.
function StartTimers() {
    warningTimer = setTimeout("IdleWarning()", timoutWarning);
    timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
}

// Reset timers.
function ResetTimers() {
    clearTimeout(warningTimer);
    clearTimeout(timeoutTimer);
    StartTimers();
    $("#timeout").dialog('close');
}

// Show idle timeout warning dialog.
function IdleWarning() {
    $("#timeout").dialog({
        modal: true
    });
}

$('.txtOnly').keypress(function (e) {
	var regex = new RegExp("^[a-zA-Z]+$");
	var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
	if (regex.test(str)) {
		return true;
	}
	else
	{
	e.preventDefault();
	$('.error').show();
	$('.error').text('Please Enter Alphabate');
	return false;
	}
});
// Logout the user.
function IdleTimeout() {
    window.location = logoutUrl;
}

function testInput(event) {
	   var value = String.fromCharCode(event.which);
	   var pattern = new RegExp(/[a-zåäö ]/i);
	   return pattern.test(value);
	}

	$('.my-field').bind('keypress', testInput);
</script>
</html>
